h2{
    font-size: 50px;
   color: rgb(62, 62, 255);
    font-family: sans-serif;
}
body{
    background-color: rgba(167, 252, 255, 0.908);
}
p{
font-size:25px;
}
button{
    block-size: 40px;
}
.copy_right_footer{
background-color: rgb(81, 209, 166);
}